@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
}

.btn {
  font-weight: 900;
  width: 90vw;
  height: 7vh;
  Background: #38BDF8;
.btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: transparent;
  color: #848484;
  display: flex;
  justify-content: center;
  align-items: center;
}  border-radius: 30px;
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 17px;
  bottom: 0;
  position: fixed;
  margin-bottom: 20px;
}